HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Custom - Commit Helper Files ###
commit.cmd
commit-message.txt

### Custom - Sensitive Config ###
src/main/resources/application.properties
database-setup.ps1
clean_arch_summary.md

### Custom - Local Database ###
*.db
*.sqlite
*.h2.db

materials/