.search-container {
    max-width: 1200px;
    margin: 20px auto 40px auto;
    padding: 20px;
    background: #ffffff;
    border: 2px solid black;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.search-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.search-row input {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    font-size: 1em;
}

.btn-search {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-search:hover {
    background: #3b3b3b;
}
